* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1	{
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 7rem;
	margin: 0;
}

h2 {
	font-size: 3rem;
} 

li {
	display: list-item;
}
body {
	/*background: powderblue;*/
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url("images/confetti.jpg");
	font-family: 'Luckiest Guy', cursive;

}

.container {
	color: #8a171a;
	font-family: 'Righteous', cursive;
	font-size: 2.3rem;
	padding: 0;
	text-align: center;
	width: 37.5rem;
  	margin: 6.25rem auto;

}
.container section:nth-child(odd) {
	background: black;
	
}

.container section:nth-child(even) {
	background: green;

}

.birthday img {
	width: 100%;
}

.Main img{
	width: 100%;
}

section.birthday {
	padding: 0rem;
}

.birthday {
	line-height: 0;
	width: 100%;
}

.pineapple img {
	width: 100%;
}

aside.pineapple {
	padding: 0rem;
}

.pineapple {
	line-height: 0;
	width: 100%;
}
.address {
	font-size: 3rem;
	text-align: center;
}

.Main {
	font-size: 2.3rem;
	width: 100%;
}

.address img{
	width:100 %;
}

.footer {
	font-size: 2rem;
	text-align:center;
	padding:1.2rem;
}